<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
       {{ form.username }}
        <br>
        <label for="first_name">First Name:</label>
       {{ form.first_name }}
        <br>
        <label for="last_name">Last Name:</label>
       {{ form.last_name }}
        <br>
        

        <label for="email">Email:</label>
       {{ form.email }}
        <br>
        <label for="password1">Password:</label>
       {{ form.password1 }}
        <br>
        <label for="password2">Confirm Password:</label>
       {{ form.password2 }}     
        <br>    

        <button type="submit">Register</button>
</body>
</html>